/.cache/
/.dap-breakpoints
/.local/
/.lsp-session-v1
/auto-save-list/
/backups/
/eclipse.jdt.ls/
/elpa/
/eshell/
/history
/ido.last
/my-autoload.el
/places
/quelpa/
/recentf
/semanticdb/
/smex-items
/transient/
/meghanada/
/request/
/projectile-bookmarks.eld
